<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<aside class="sidebar">
    <div>
        <div>
            <a href="schedulepostAll.html"><button>전체</button></a>
        </div>
        <div>
            <a href="schedulepostMy.html"><button>내가올린 일정</button></a>
        </div>
        <div>
            <a href="schedulepostLike.html"><button>좋아요 누른 게시물</button></a>
        </div>
    </div>
</aside>

<main> <header>
    <div class="logo">레스고!</div>
    <ul class="menu"
        style="list-style: none; display: flex; padding: 0; margin: 0;">
        <li style="margin-right: 20px;"><a href="index.html">홈</a></li>
        <li style="margin-right: 20px;"><a href="leisere.html">플레이스 조회</a></li>
        <li style="margin-right: 20px;"><a href="schedulepostAll.html">일정게시판</a></li>
        <li style="margin-right: 20px;"><a href="#">내일정</a></li>
        <li><a href ="login.html">로그인</a></li>
    </ul>
</header>

    <div class="content-container">
        <div class="content-left">
            <div class="search-area">
                <input type="text" placeholder="장소 이름이나 지역을 검색하세요" />
                <button type="button">검색하기</button>

            </div>
            <div class="sort-area">
                <select name="sortOrder">
                    <option value="like">좋아요순</option>
                    <option value="view">조회순</option>
                    <option value="latest">게시일순</option>
                </select>
            </div>
        </div>
    </div>

    <div class="container">
        <figure class="figure">
            <div>내일정1</div>
            <a href="#" class="box-placeholder">이미지</a>
            <figcaption class="figure-caption">수원수영장/수원떡볶이/진호텔 수원</figcaption>
            <div>
                <button>❤</button>
                123 조회수:123 🤷‍♀️강X회 님
            </div>
        </figure>
        <figure class="figure">
            <div>내일정1</div>
            <a href="#" class="box-placeholder">이미지</a>
            <figcaption class="figure-caption">수원수영장/수원떡볶이/진호텔 수원</figcaption>
            <div>
                <button>❤</button>
                123 조회수:123 🤷‍♀️강X회 님
            </div>
        </figure>
        <figure class="figure">
            <div>내일정1</div>
            <a href="#" class="box-placeholder">이미지</a>
            <figcaption class="figure-caption">수원수영장/수원떡볶이/진호텔 수원</figcaption>
            <div>
                <button>❤</button>
                123 조회수:123 🤷‍♀️익명
            </div>
        </figure>
        <figure class="figure">
            <div>내일정1</div>
            <a href="#" class="box-placeholder">이미지</a>
            <figcaption class="figure-caption">수원수영장/수원떡볶이/진호텔 수원</figcaption>
            <div>
                <button>❤</button>
                123 조회수:123 🤷‍♀️한X민 님
            </div>
        </figure>
        <figure class="figure">
            <div>내일정1</div>
            <a href="#" class="box-placeholder">이미지</a>
            <figcaption class="figure-caption">수원수영장/수원떡볶이/진호텔 수원</figcaption>
            <div>
                <button>❤</button>
                123 조회수:123 🤷‍♀️익명
            </div>
        </figure>
        <figure class="figure">
            <div>내일정1</div>
            <a href="#" class="box-placeholder">이미지</a>
            <figcaption class="figure-caption">수원수영장/수원떡볶이/진호텔 수원</figcaption>
            <div>
                <button>❤</button>
                123 조회수:123 🤷‍♀️익명
            </div>
        </figure>
    </div>
    <div>
        <button>내 일정 공유</button>
    </div>

</main>
</body>
</html>