<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/getid.css">
    <meta charset="UTF-8">
    <title>아이디 찾기</title>
</head>
<body>
<div class="getidbox">
    <h1>아이디 찾기</h1>

    <!-- errorMessage: model.addAttribute("errorMessage", ...) -->
    <div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></div>

    <!-- userId: model.addAttribute("userId", ...) -->
    <div th:if="${userId}" th:text="'회원님의 아이디는 &quot;' + ${userId} + '&quot; 입니다.'"></div>

    <form method="post" action="/user/getId">
        <div class="name">
            <input name="name" placeholder="이름">
        </div>
        <div class="emaile">
            <input name="email" type="email" placeholder="이메일">
        </div>
        <div>
            <button type="submit">아이디 찾기</button>
        </div>
    </form>
    <div>
        <a href="/user/loginView">로그인</a>
    </div>
</div>
</body>
</html>
