<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href ="/css/getid.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="getidbox">
    <div class="name">
        <input placeholder="이름">
    </div>
    <div class="emaile">
        <input type="password" placeholder="이메일"><button>코드 전송</button>
    </div>

    <div class="checkcode">
        <input placeholder="인증코드"><button>인증</button>
    </div>
    <div>
        회원님의 아이디는 "example123"입니다.
    </div>
    <div>
        <a href="login">로그인</a>
    </div>
</div>
</body>
</html>