<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">

<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" th:href="@{/view/css/floating-cart.css}"/>
    <link rel="stylesheet" th:href="@{/css/chatbot.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/view/css/index.css(v=2)}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
</head>

<body th:with="so=${(sortOrder != null && sortOrder != '') ? sortOrder : 'distance'}" th:data-context-path="@{/}">

<header class="site-header">
    <div class="logo">
        <a th:href="@{/}" title="Let's GO! 홈">
            <img th:src="@{/logo/logo.png}" alt="Let's GO!" class="site-logo"/>
        </a>
    </div>

    <ul class="menu" style="list-style: none; display: flex; padding: 0; margin: 0;">
        <li><a th:href="@{/}">홈</a></li>
        <li><a th:href="@{/places/leisure}">플레이스 조회</a></li>
        <li><a th:href="@{/postschedule/list}">일정게시판</a></li>
        <li><a th:href="@{/myschedule/list}">내일정</a></li>

        <th:block sec:authorize="!isAuthenticated()">
            <li><a th:href="@{/user/loginView}">로그인</a></li>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <li class="user-name"
                th:text="${#authentication.principal.user.name} + ' 님'">
                사용자 님
            </li>
            <li>
                <form th:action="@{/logout}" method="post" class="logout-form">
                    <button type="submit" class="logout-btn">
                        로그아웃
                    </button>
                </form>
            </li>
        </th:block>
    </ul>
</header>

<main>
    <h1>추천 레저스포츠 리스트</h1>

    <div class="sort-area">
        <label>
            <select id="sortOrderSelect" name="sortOrder">
                <option value="distance" th:selected="${so != 'like'}">전체</option>
                <option value="like" th:selected="${so == 'like'}">좋아요순</option>
            </select>
        </label>
    </div>

    <div class="container" id="leisurePlaceContainer">
        <figure class="figure" th:each="place : ${leisurePlaceList}">
            <th:block th:if="${place.firstImage != null && place.firstImage != ''}">
                <img th:src="${place.firstImage}" th:alt="${place.title}" class="box-placeholder"/>
            </th:block>
            <th:block th:unless="${place.firstImage != null && place.firstImage != ''}">
                <a href="#" class="box-placeholder">이미지 없음</a>
            </th:block>

            <figcaption class="figure-caption" th:text="${place.title}">장소제목</figcaption>
            <span th:text="${place.addr1}">주소</span><br>

            <button type="button" class="like-btn" th:data-place-id="${place.placeId}" data-place-type="LEISURE"
                    th:data-like-url="@{/placeLikeAjax}">
                <h1>❤️</h1>
            </button>
            <div class="like-count" th:id="'likeCount-' + ${place.placeId}"
                                    th:text="'좋아요: ' + ${place.likeCount}">좋아요: 0
            </div>

            <button type="button" class="add-to-cart-btn"
                    th:data-place-id="${place.placeId}"
                    th:data-place-title="${place.title}"
                    th:data-place-type="${place.placeType}"
                    th:data-redirect-url="@{/places/restaurant}">담기
            </button>
        </figure>
    </div>

</main>

<div id="session-cart-data" style="display: none;">
    <div th:each="cartPlace : ${session.placeCartList}" class="session-cart-item"
         th:data-place-id="${cartPlace.placeId}"
         th:data-place-title="${cartPlace.title}"
         th:data-place-type="${cartPlace.placeType}">
    </div>
</div>


<script th:src="@{/view/js/place-like.js}"></script>
<script th:src="@{/view/js/floating-cart.js}"></script>
<script th:src="@{js/chatbot.js}"></script>

<script th:src="@{/view/js/index.js}"></script>
</body>

</html>