<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/login.css">
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<div class="loginbox">
    <h1>로그인</h1>

    <!-- errorMessage: model.addAttribute("errorMessage", ...) -->
    <div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></div>
    <div id="loginMessage"></div>

    <form id="loginForm" method="post" action="/login">
        <div class="id">
            <input id="userId" name="userID" placeholder="아이디">
        </div>
        <div class="pw">
            <input type="password" id="password" name="password" placeholder="비밀번호">
        </div>
        <div>
            <button type="submit">로그인</button>
        </div>
    </form>
    <div>
        <a href="/user/getIdView">아이디 찾기</a>
        <a href="/user/updatePwView">비밀번호 찾기</a>
        <a href="/user/signUpView">회원가입</a>
    </div>
</div>
</body>
</html>
