<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/postScheduleList.css}">
    <script th:src="@{/js/postScheduleList.js}" defer></script>
    <meta charset="UTF-8"/>
</head>
<body>
<header class="site-header">
    <div class="logo">
        <a th:href="@{/}" title="Let's GO! 홈">
            <img th:src="@{/logo/logo.png}" alt="Let's GO!" class="site-logo"/>
        </a>
    </div>

    <ul class="menu" style="list-style: none; display: flex; padding: 0; margin: 0;">
        <li><a th:href="@{/}">홈</a></li>
        <li><a th:href="@{/places/leisure}">플레이스 조회</a></li>
        <li><a th:href="@{/postschedule/list}">일정게시판</a></li>
        <li><a th:href="@{/myschedule/list}">내일정</a></li>

        <th:block sec:authorize="!isAuthenticated()">
            <li><a th:href="@{/user/loginView}">로그인</a></li>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <li class="user-name"
                th:text="${#authentication.principal.user.name} + ' 님'">
                사용자 님
            </li>
            <li>
                <form th:action="@{/logout}" method="post" class="logout-form">
                    <button type="submit" class="logout-btn">
                        로그아웃
                    </button>
                </form>
            </li>
        </th:block>
    </ul>
</header>
    <div class="layout-wrapper">
        <aside class="sidebar">
            <ul class="sidebar-menu">
                <li><button type="button" class="nav-btn active" data-filter="all">전체 게시물</button></li>
                <li><button type="button" class="nav-btn" data-filter="user">내가 올린 게시물</button></li>
            </ul>

        </aside>

        <main>
            <div class="content-left">
                <div class="search-area">
                    <input type="text" placeholder="장소 이름이나 게시물 이름을 검색하세요" id="keyword"/>
                    <button type="button" id="searchButton">검색하기</button>
                    <div class="sort-area">
                        <select id="sortOrder">
                            <option value="latest">날짜순</option>
                            <option value="title">이름순</option>
                            <option value="like">좋아요순</option>
                            <option value="view">조회순</option>
                        </select>
                    </div>
                </div>
                <div class="edit-area">
                    <button type="button"><a href="/myschedule/list">내 일정 공유</a></button>
                </div>

            </div>


            <div class="container" id="scheduleListContainer">
                    <figure th:each="postSchedule : ${list}" class="figure">
                        <div th:text="${postSchedule.title}" >일정제목</div>

                        <a th:href="@{'/postschedule' + '/detail/' + ${postSchedule.postId}}" class="box-placeholder">
                            <img th:src="${postSchedule.firstImage}" alt="일정 이미지" class="box-placeholder">
                        </a>

                        <figcaption class="figure-caption" th:text="${postSchedule.placeTitle}">장소명</figcaption>

                        <div>
                            <button type="button" class="like-btn" th:data-post-id="${postSchedule.postId}">
                                <h1>❤️</h1>
                            </button>
                            <span>좋아요 : <span class="like-Count" th:text="${postSchedule.likeCount}">0</span></span>
                        </div>
                        <div>
                            <span>조회수 : <span th:text="${postSchedule.viewCount}">0</span></span>
                        </div>
                        <div>
                	        <span>📍<span th:text="${#strings.substring(postSchedule.addr1,0,10)}">
                		주우우우소
                                    </span>
                	        </span>
                        </div>
                        <div>👤 <span th:text="${postSchedule.isAnonymous == 1 ? '익명' : postSchedule.userName}">이름</span>
                        </div>
                    </figure>
            </div>
            <div id="pagination" class="pagination"></div>
        </main>
    </div>
</body>
</html>
