<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/updatepw.css">
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
</head>
<body>
<div class="updatepwdbox">
    <h1>비밀번호 찾기</h1>

    <!-- errorMessage: model.addAttribute("errorMessage", ...) -->
    <div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></div>

    <form method="post" action="/user/updatePw">
        <div class="id">
            <input name="userID" placeholder="아이디">
        </div>
        <div class="emaile">
            <input name="email" type="email" placeholder="이메일">
        </div>
        <div class="pw">
            <input name="password" type="password" placeholder="새비밀번호">
        </div>
        <div class="pw">
            <input name="passwordConfirm" type="password" placeholder="새비밀번호 확인">
        </div>
        <div>
            <button type="submit">비밀번호 변경</button>
            <a href="/user/loginView">로그인</a>
        </div>
    </form>
</div>
</body>
</html>
