<!DOCTYPE html>
<html lang="en">
<head>
    <link rel = "stylesheet" href ="/css/updatepw.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="updatepwdbox">
    <div class="id">
        <input placeholder="아이디">
    </div>
    <div class="emaile">
        <input type="password" placeholder="이메일"><button>코드 전송</button>
    </div>

    <div class = "checkcode">
        <input placeholder="인증코드"><button>인증</button>
    </div>
    <div>
        <input placeholder="새비밀번호">
    </div>
    <div>
        <input placeholder="새비밀번호 확인">
    </div>

    <div>
        <button>비밀번호 변경</button> <a href="login">로그인</a>
    </div>
</div>
</body>
</html>